.App {
  text-align: center;
  display: flex;
flex-direction: column;
gap : 1rem;
margin : 15px;
}

.order-component{
  width : 300px; 
  height : 300px;
  border : 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding : 12px;
}

img{
  width: 200px;
  height : 200px;
}

.product-action{
  display: flex;
  justify-content: center;
  gap :0.5rem;
  height : 20px;
  align-items: center;

}